.primaryContainer {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.status {
  color: #A41114;
}
.inputBox {
  height: 35px;
  width: 200px;
  padding-left: 5px;
}
.submitBtn {
    background-color: #3d70b2;
    height: 35px;
    width: 80px;
    color: white;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

.submitBtn2 {
    background-color: #3d70b2;
    height: 35px;
    width: 200px;
    color: white;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}
body {}
.backDiv {
  margin-top: 10px;
}
.workspaceSelect {
  margin-top: 20px;
  margin-bottom: 10px;
}
#pageLinkDiv {
  margin-bottom: 20px;
  margin-left: 8px;
}
#nppi > * {
  margin-right: 5px;
}
#nppi {
  display: inline-flex;
  margin-bottom: 5px;
}
#createFileDiv {
  margin-top: 20px;
    color: #3d70b2;
}
#workspaceLbl {
  margin-bottom: 15px;
  color: #3D70b2;
}
.column {
  float: left;
  width: 32.33%;
  background-color: lightgray;
  height: 150px;
  margin: 1px;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#reply {
  width: 60%;
  height: 150px;
  padding: 10px;
}
#sampleCorpus {
  padding: 15px;
  background-color: rgb(55, 55, 55);
  color: white;
  line-height: 25px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#renderContent {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
.contentTable {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
#docContentDiv {
  float: none;
  font-size: 0.9375em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: rgb(55, 55, 55);
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  font-family: arial;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5;
  margin-top: 15px;
  margin-left: 0px;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 35px;
  padding-left: 35px;
}
#contentBG {
  float: none;
  height: auto;
  width: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  margin-top: 0px;
  margin-left: 195px;
  clear: none;
  /*padding: 15px;*/
  padding-left: 30px;
  margin-right: 0px;
}
#contentBG2 {
  float: none;
  height: auto;
  width: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  margin-top: 0px;
  margin-left: 30px;
  clear: none;
  padding-left: 30px;
  margin-right: 0px;
}
#contentBG3 {
  float: none;
  height: auto;
  width: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  margin-top: 0px;
  margin-left: 30px;
  clear: none;
  /*padding: 15px;*/
  padding-left: 30px;
  margin-right: 0px;
}
#headerLbl {
  float: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  width: 100%;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: 1em;
  color: #152935;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  font-family: Avenir;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10;
  margin-top: 15px;
  margin-left: auto;
  clear: none;
  min-width: 300px;
  margin-right: auto;
  padding-left: 30px;
}
#headerTxtBG {
  float: left;
  height: 54px;
  width: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 9;
}
#titleDiv {
  float: none;
  height: 60px;
  width: auto;
  /*    background-color: rgb(246, 246, 246);*/
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 8;
  margin-top: 70px;
  margin-left: 195px;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
#titleDiv2 {
  float: none;
  height: 60px;
  width: auto;
  /*    background-color: rgb(246, 246, 246);*/
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 8;
  margin-top: 70px;
  margin-left: 30px;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
#_-e-logout {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 18;
  margin-top: 1px;
  margin-left: 0%;
  clear: both;
}
#_-e-account {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 22;
  margin-top: 1px;
  margin-left: 0%;
  clear: both;
}
#logo {
  float: left;
  width: auto;
  max-width: 30px;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 65;
  margin-top: 7px;
  margin-left: 35px;
  clear: none;
}
#_-e-translate {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 35;
  margin-top: 1px;
  margin-left: 0%;
  clear: both;
}
#headerBG {
  float: left;
  height: 3rem;
  width: 100%;
  /* background-color: rgb(155, 197, 61); */
  background-color: #152935;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 62;
  min-width: 300px;
}
#_-e-transcribe {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 44;
  margin-top: 1px;
  margin-left: 0%;
  clear: both;
}
#_-e-all_files {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 54;
  margin-top: 1px;
  margin-left: 0%;
  clear: none;
  min-width: 0px;
}
h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
}
#nav {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  float: left;
  height: 100%;
  width: 195px;
  background-color: rgb(55, 55, 55);
  position: absolute;
  top: auto;
  left: 0px;
  z-index: 14;
  clear: both;
  bottom: 0px;
  min-height: 0px;
  padding-top: 3rem;
}
#navIcon {
  display: none;
}
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 800px) {
  #nav {
    margin-top: 31px;
    margin-left: 0%;
    clear: none;
  }
  #headerLbl {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  #logo {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }
  #renderContent {
    margin-top: 20px;
  }
  #navIcon {
    display: block;
  }
  #nav {
    visibility: visible;
    display: none;
  }
  #titleDiv {
    width: 100%;
    margin-left: 0px;
  }
  #titleDiv2 {
    width: 100%;
    margin-left: 0px;
  }
  #contentBG {
    width: 100%;
    margin-left: 0px;
  }
  #contentBG2 {
    width: 100%;
    margin-left: 0px;
  }
  #contentBG3 {
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 400px) {
  /*
    #contentBG {
        font-size: 8pt;
        padding-left: 10px;
    }
*/
  /*
    #headerLbl {
        
        padding-left: 10px;
    }
*/
}